/*****************************************************************
 * defintion of ats stylesheet
 *****************************************************************/

/*
 * global definition
 */
/* initialize line span */
h1,h2,h3,h4,h5,h6,p,ul,ol,dl
{
	margin-top: 0;
	margin-bottom: 0;
}

body
{
	background-color : #ffffff;
	font-size : 14px;
}

div.all
{
	margin-right: auto;
	margin-left: auto;
}

h2,h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * box header
 */
/* not IE */
div.boxheader
{
	height: 30px;
	padding: 10px 10px 20px 10px;
	margin: 0px 0px 0px 0px;
}

/* IE 6.0 */
html div.boxheader
{
	overflow: hidden;
	height: 30px;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
}

div.boxkeyvisual
{
	height: 20px;
    width: 300px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/*
 * box keyvisual
 */
/* IE 6.0 */
div.boxkeyvisual
{
	float: left;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

html div.boxkeyvisual
{
	float: left;
	height: 20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/*
 * box notice
 */
div.boxnotice
{
	float: right;
	padding: 0px 0px 0px 0px;
	marging: 0px 0px 0px 0px;
	background-color : #ffffff;
}

html div.boxnotice
{
	float: right;
	padding: 0px 0px 0px 0px;
	marging: 0px 0px 0px 0px;
	background-color : #ffffff;
}

div.boxnotice p.userstatus 
{
    text-align: right;
}


/*
 * box global navi
 */
div.boxgnavi
{
	left : 0px;
	height: 0px;
	marging: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color : #ffffff;
}

#globalnavilist
{
	list-style-type: none;
	float: left;
	background-color : #ffffff;
}

#globalnavilist li
{
	float: left;
	width: 180px;
	height: 10px;
	font-weight: bold;
}

#globalnavilist a
{
	display: block;
	padding-top :10px;
	padding-bottom :10px;
	background-color : #ffffff;
	border: 2px solid #797979;
	color: #eef5ef;
	text-decoration: none;
	text-align: center;
}

#globalnavilist2
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	float: left;
	background-color : #ffffff;
}

#globalnavilist2 li
{
	float: left;
	width: 180px;
	height: 10px;
	font-weight: bold;
}

#globalnavilist2 a
{
	display: block;
	padding-top :10px;
	padding-bottom :10px;
	background-color : #ffffff;
	color: #eef5ef;
	text-decoration: none;
	text-align: center;
}

/*
 * box sub-navi
 */
div.boxsubnavi
{
	float: left;
	width : 100px;
	background-color: #ffffff;
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

#subnavilist
{
	margin-left: 0;
	margin-bottom: 10px;
	padding-left: 0;
	list-style-type: none;
	width:  175px;
}

#subnavilist li
{
    /*
	display:			block;
	border:				0px solid #797979;
    */
	padding-left:		10px;
	padding-top:		5px;
	padding-bottom:		5px;
	font-weight:		bold;
	text-align:			left;	
	color:				black;
    list-style:         none;
}


#subnavilist a
{
    /*
	display:			block;
	border:				1px solid #797979;
    */
	padding-left:		0px;
	padding-top:		0px;
	padding-bottom:		0px;
	text-align:			left;
	text-decoration:	none;
}


/*
 * box main
 */
div.boxmain
{
	float : left;
	background-color: #ffffff;
	margin: 10px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	line-height : 130%;
}

div.boxmain h2
{
	line-height : 150%;
}

div.boxmain pre.source
{
    color:       #ffffff;
    background-color: #000000;
    margin: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
    overflow: auto;
}

/*
 * box booter
 */
div.boxfooter
{
	clear: both;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

/*
 * table
 */
td.num
{
    text-align: right;
}

/*
 * list
 */

/*
 * other
 */
h1
{
	text-align : center;
}

h2
{

}