#
# apache2 config for ats wsgi applicaion sample
#
WSGIScriptAlias /toolproj /var/www/wsgi_apps/active-task-summary/ats.wsgi

WSGIDaemonProcess ats user=apache group=apache processes=1 threads=32 home=/ python-eggs=/var/www/eggs display-name=%{GROUP}

<Directory "/var/www/wsgi_apps/ats">
    # for apache-2.2
    Order deny,allow
    Allow from all
    # for apache-2.4
    #Require all granted
</Directory>

<Location "/toolproj">
    WSGIProcessGroup ats
</Location>
