{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "change password" %}{% endblock %}

{% block boxsubnavi %}
  {% include "top/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<form method="POST" action="#">
{% if form.errors %}
<b><p>{% trans "Your username and password didn't match. Please try again." %}</p></b>
{% else %}
<b>{{ message }}</b>
{% endif %}
<hr>

{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" name="chpasswd" value="change password">
<hr>
</form>
{% endblock %}
