{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "Summary" %}{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>{% trans "Choice Summary Rule" %}</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="Submit">
</form>
<hr>

{% if datalist %}
<table class="usedtasktime" border=1>
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "date" %}</th>
  <th>{% trans "username" %}</th>
  <th>{% trans "task" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in datalist %}
 <tr>
  <td>{{ data.project.name }}</td>
  <td>{{ data.taskdate|date:"Y-m-d" }}</td>
  <td>{{ data.user.username }}</td> 
  <td>{{ data.task.name }}</td>
  <td>{{ data.tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
