{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "Summary - job" %}{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>{% trans "Choice Summary Rule (job)" %}</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="{% trans "Submit" %}">
</form>
<hr>

<h3>{% trans "Job Summary" %}</h3>
{% if jobdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for r in jobdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Month Summary (job)" %}</h3>
{% if j_monthlist %}
<table class="usedtasktime" border="1">
  <tr>
    <th>{% trans "job" %}</th>
    <th>{% trans "year" %}</th>
    <th>{% trans "month" %}</th>
    <th>{% trans "task time" %}</th>
  </tr>
  {% for data in j_monthlist %}
  <tr>
    <td>{{ data.task__job__name }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.month }}</td>
    <td class="num">{{ data.month_tasktime }}</td>
  </tr>
  {% endfor %}
</table>
<!--
<div id="chart_month" style="height:300px; width:600px;"></div>
-->
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Month Summary (project, job)" %}</h3>
{% if pj_monthlist %}
<table class="usedtasktime" border="1">
  <tr>
    <th>{% trans "project" %}</th>
    <th>{% trans "job" %}</th>
    <th>{% trans "year" %}</th>
    <th>{% trans "month" %}</th>
    <th>{% trans "task time" %}</th>
  </tr>
  {% for data in pj_monthlist %}
  <tr>
    <td>{{ data.project__name }}</td>
    <td>{{ data.task__job__name }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.month }}</td>
    <td class="num">{{ data.month_tasktime }}</td>
  </tr>
  {% endfor %}
</table>
<!--
<div id="chart_month" style="height:300px; width:600px;"></div>
-->
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Task Detail" %}</h3>
{% if taskdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "}task" %</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for r in taskdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}
{% endblock %}
