{% extends "ats/base.html" %}

{% block title %}TOP{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>Choice Summary Rule (job)</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="Submit">
</form>
<hr>

<h3>Job Summary</h3>
{% if jobdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>job</th>
  <th>task time</th>
 </tr>
{% for r in jobdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Month Summary(job)</h3>
{% if j_monthlist %}
<table class="usedtasktime" border="1">
  <tr>
    <th>job</th>
    <th>year</th>
    <th>month</th>
    <th>task time</th>
  </tr>
  {% for data in j_monthlist %}
  <tr>
    <td>{{ data.task__job__name }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.month }}</td>
    <td class="num">{{ data.month_tasktime }}</td>
  </tr>
  {% endfor %}
</table>
<!--
<div id="chart_month" style="height:300px; width:600px;"></div>
-->
{% else %}
<p>no data.</p>
{% endif %}

<h3>Month Summary(project,job)</h3>
{% if pj_monthlist %}
<table class="usedtasktime" border="1">
  <tr>
    <th>project</th>
    <th>job</th>
    <th>year</th>
    <th>month</th>
    <th>task time</th>
  </tr>
  {% for data in pj_monthlist %}
  <tr>
    <td>{{ data.project__name }}</td>
    <td>{{ data.task__job__name }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.month }}</td>
    <td class="num">{{ data.month_tasktime }}</td>
  </tr>
  {% endfor %}
</table>
<!--
<div id="chart_month" style="height:300px; width:600px;"></div>
-->
{% else %}
<p>no data.</p>
{% endif %}

<h3>Task Detail</h3>
{% if taskdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>job</th>
  <th>task</th>
  <th>task time</th>
 </tr>
{% for r in taskdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}
{% endblock %}
