{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "Summary - project" %}{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>{% trans "Choice Summary Rule (project)" %}</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="{% trans "Submit" %}">
</form>
<hr>

<h3>{% trans "Total Summary" %}</h3>
{% if totallist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in totallist %}
 <tr>
  <td>{{ data.project__name }}</td>
  <td>{% if data.project__external_project__code %}{{ data.project__external_project__code }}{% endif %}</td>
  <td class="num">{{ data.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Month Summary (project)" %}</h3>
{% if p_monthlist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "year" %}</th>
  <th>{% trans "month" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in p_monthlist %}
 <tr>
   <td>{{ data.project__name }}</td>
   <td>{% if data.project__external_project__code %}{{ data.project__external_project__code }}{% endif %}</td>
   <td>{{ data.year }}</td>
   <td>{{ data.month }}</td>
   <td class="num">{{ data.month_tasktime }}</td>
 </tr>
{% endfor %}
</table>
<div id="chart_month" style="height:300px; width:600px;"></div>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Month Summary (project, job)" %}</h3>
{% if pj_monthlist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "year" %}</th>
  <th>{% trans "month" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in pj_monthlist %}
 <tr>
  <td>{{ data.project__name }}</td>
  <td>{% if data.project__external_project__code %}{{ data.project__external_project__code }}{% endif %}</td>
  <td>{{ data.task__job__name }}</td>
  <td>{{ data.year }}</td>
  <td>{{ data.month }}</td>
  <td class="num">{{ data.month_tasktime }}</td>
 </tr>
{% endfor %}
</table>
<!-- <div id="chart_month" style="height:300px; width:600px;"></div> -->
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Date Summary" %}</h3>
{% if datelist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "date" %}</th>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in datelist %}
 <tr>
  <td>{{ data.taskdate|date:"Y-m-d" }}</td>
  <td>{{ data.project__name }}</td>
  <td>{% if data.project__external_project__code %}{{ data.project__external_project__code }}{% endif %}</td>
  <td class="num">{{ data.date_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Task Detail" %}</h3>
{% if is_show_taskdetail %}
{% if tasklist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "date" %}</th>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "task" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for data in tasklist %}
 <tr>
  <td>{{ data.taskdate|date:"Y-m-d" }}</td>
  <td>{{ data.project.name }}</td>
  <td>{{ data.project.external_project.code }}</td>
  <td>{{ data.task.job.name }}</td>
  <td>{{ data.task.name }}</td>
  <td class="num">{{ data.tasktime|time:"H:i" }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}
{% else %}
<p>{% trans "no show." %}</p>
{% endif %}

{# create graph #}
{% if p_monthlist %}
<script type="text/javascript">
$(document).ready(function(){
$.jqplot.config.enablePlugins = true;

var plots = [];

{% for data in p_monthlist %}
plots.push(["{{ data.year }}" + "-" + "{{ data.month|stringformat:"02d" }}", {{ data.month_tasktime_float }}]);
{% endfor %}

plot1 = $.jqplot('chart_month', [plots], {
  title: "Month Summary Graph",
  axes: {
    xaxis: {
      renderer: $.jqplot.DateAxisRenderer,
      label: "month",
      tickInterval: "1 months",
      tickOptions:{ formatString: "'%y\n-%m" },
      rendererOptions: {},
      min: "{{ from_date|date:"Y-m-d" }}",
      max: "{{ to_date|date:"Y-m-d" }}",
    },
    yaxis: {
      label: "hours"
    }
  },
});
});
</script>
{% endif %}

{% endblock %}
