{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "Summay - user" %}{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>{% trans "Choice Summary Rule (user)" %}</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input name="submit_type" type="submit" value="view">
<input name="submit_type" type="submit" value="export">
</form>

<div class="notice_msg">
  <strong>{{ show_msg }}</strong>
</div>

<hr>

<h3>{% trans "Project Summary" %}</h3>
{% if userdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "user" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for r in userdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{% if r.project__external_project__code %}{{ r.project__external_project__code }}{% endif %}</td>
  <td>{{ r.task__job__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Month Summary" %}</h3>
{% if monthlist %}
<table class="usedtasktime" border="1">
  <tr>
    <th>{% trans "username" %}</th>
    <th>{% trans "year" %}</th>
    <th>{% trans "month" %}</th>
    <th>{% trans "task time" %}</th>
  </tr>
  {% for data in monthlist %}
  <tr>
    <td>{{ data.user__username }}</td>
    <td>{{ data.year }}</td>
    <td>{{ data.month }}</td>
    <td class="num">{{ data.month_tasktime }}</td>
  </tr>
  {% endfor %}
</table>
<!--
<div id="chart_month" style="height:300px; width:600px;"></div>
-->
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Date Summray" %}</h3>
{% if datesummarydata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "date" %}</th>
  <th>{% trans "user" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for r in datesummarydata %}
 <tr>
  <td>{{ r.taskdate|date:"Y-m-d" }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Task Summary" %}</h3>
{% if taskdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "task" %}</th>
  <th>{% trans "user" %}</th>
  <th>{% trans "task time" %}</th>
 </tr>
{% for r in taskdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{% if r.project__external_project__code %}{{ r.project__external_project__code }}{% endif %}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}

<h3>{% trans "Task Detail" %}</h3>
{% if datedetaildata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>{% trans "date" %}</th>
  <th>{% trans "project" %}</th>
  <th>{% trans "code" %}</th>
  <th>{% trans "job" %}</th>
  <th>{% trans "task" %}</th>
  <th>{% trans "user" %}</th>
  <th>{% trans "task time" %}</th>
  <th>{% trans "comment" %}</th>
 </tr>
{% for r in datedetaildata %}
 <tr>
  <td>{{ r.taskdate|date:"Y-m-d" }}</td>
  <td>{{ r.project__name }}</td>
  <td>{% if r.project__external_project__code %}{{ r.project__external_project__code }}{% endif %}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.tasktime|time:"H:i" }}</td>
  <td>{{ r.comment }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}
{% endblock %}
