{% load static %}
{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <title>{% block title %}{% endblock %} | Active Task Summary</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ats/css/atsstyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ats/css/jquery.jqplot.min.css' %}">
</head>
<body>
<script type="text/javascript" src="{% static 'ats/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ats/js/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ats/js/jqplot-plugins/jqplot.dateAxisRenderer.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static 'ats/js/excanvas.js' %}"></script>
<![endif]-->
<script type="text/javascript" src="{% static 'ats/js/ats.js' %}"></script>

<div class="all">
<div class="boxheader">
<div class="boxkeyvisual">
  <a href="{{ url_prefix }}/top/">Active Task Summary</a>
</div>
<div class="boxnotice">
{% if user.is_authenticated %}
  {% if is_lastname_front %}
<p class="userstatus">login as : {{ user }} ({{ user.last_name }} {{ user.first_name }}) : <a href="{{ url_prefix }}/logout/">logout</a></p>
  {% else %}
<p class="userstatus">login as : {{ user }} ({{ user.first_name }} {{ user.last_name }}) : <a href="{{ url_prefix }}/logout/">logout</a></p>
  {% endif %}
{% endif %}
</div>
</div>
<hr>
<div class="boxgnavi">
</div>
<div class="boxsubnavi">
  {% if user.is_authenticated %}
  <ul id="subnavilist">
    <li><u><a href="{{ url_prefix }}/top/">TOP</a></u></li>
    <li><u><a href="{{ url_prefix }}/regist/">regist</a></u></li>
    <li>summary</li>
    <ul>
      <li><u><a href="{{ url_prefix }}/summary/project/">project</a></u></li>
      <li><u><a href="{{ url_prefix }}/summary/job/">job</a></u></li>
      <li><u><a href="{{ url_prefix }}/summary/user/">user</a></u></li>
    </ul>
    <li><u><a href="{{ url_prefix }}/manage/">manage</a></u></li>
  </ul>
  {% endif %}
</div>
<div class="boxmain">
  {% block boxmain %}
  {% endblock %}
</div>
<div class="boxfooter">
  <hr>
  &copy; 2014-2017 {{ app_auther }}. ver {{ app_version }}. Powered by <a href="https://www.djangoproject.com/">Django</a>. Get started <a href="https://github.com/dictoss/active-task-summary/">github.com</a>
</div>
</div>
</body>
</html>
