{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{% block title %}{% endblock %} | Active Task Summary</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="pragma" content="no-cach" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/atsstyle.css' %}">
</head>
<body>
<div class="all">
<div class="boxheader">
<div class="boxkeyvisual">
  <a href="{{ url_prefix }}/top/">Active Task Summary</a>
</div>
<div class="boxnotice">
{% if user.is_authenticated %}
<p class="userstatus">login as : {{ user }} : <a href="{{ url_prefix }}/logout/">logout</a></p>
{% endif %}
</div>
</div>
<hr>
<div class="boxgnavi">
</div>
<div class="boxsubnavi">
  {% block boxsubnavi %}
  {% endblock %}
</div>
<div class="boxmain">
  {% block boxmain %}
  {% endblock %}
</div>
<div class="boxfooter">
  <hr>
  Powered by {{ app_longname }} &copy; 2014 {{ app_auther }}.
</div>
</div>
</body>
</html>
