{% load static %}
{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <title>{% block title %}{% endblock %} | Active Task Summary</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ats/css/atsstyle.css' %}">
</head>
<body>
<div class="all">
<div class="boxheader">
<div class="boxkeyvisual">
  <a href="{{ url_prefix }}/top/">Active Task Summary</a>
</div>
<div class="boxnotice">
{% if user.is_authenticated %}
  {% if is_lastname_front %}
<p class="userstatus">login as : {{ user }} ({{ user.last_name }} {{ user.first_name }}) : <a href="{{ url_prefix }}/logout/">logout</a></p>
  {% else %}
<p class="userstatus">login as : {{ user }} ({{ user.first_name }} {{ user.last_name }}) : <a href="{{ url_prefix }}/logout/">logout</a></p>
  {% endif %}
{% endif %}
</div>
</div>
<hr>
<div class="boxgnavi">
</div>
<div class="boxsubnavi">
  {% block boxsubnavi %}
  {% endblock %}
</div>
<div class="boxmain">
  {% block boxmain %}
  {% endblock %}
</div>
<div class="boxfooter">
  <hr>
  Powered by {{ app_longname }} ver {{ app_version }} &copy; 2015 {{ app_auther }}.
</div>
</div>
<script type="text/javascript" src="{% static 'ats/js/ats.js' %}"></script>
</body>
</html>
