{% extends "base.html" %}

{% block title %}TOP{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>Choice Summary Rule (Project)</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="Submit">
</form>
<hr>

<h3>Total Summary</h3>
{% if totallist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project name</th>
  <th>task time</th>
 </tr>
{% for data in totallist %}
 <tr>
  <td>{{ data.project__name }}</td>
  <td class="num">{{ data.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Month Summary(project)</h3>
{% if p_monthlist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>year</th>
  <th>month</th>
  <th>task time</th>
 </tr>
{% for data in p_monthlist %}
 <tr>
   <td>{{ data.project__name }}</td>
   <td>{{ data.year }}</td>
   <td>{{ data.month }}</td>
   <td class="num">{{ data.month_tasktime }}</td>
 </tr>
{% endfor %}
</table>
<div id="chart_month" style="height:300px; width:600px;"></div>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Month Summary(project,job)</h3>
{% if pj_monthlist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>job</th>
  <th>year</th>
  <th>month</th>
  <th>task time</th>
 </tr>
{% for data in pj_monthlist %}
 <tr>
  <td>{{ data.project__name }}</td>
  <td>{{ data.task__job__name }}</td>
  <td>{{ data.year }}</td>
  <td>{{ data.month }}</td>
  <td class="num">{{ data.month_tasktime }}</td>
 </tr>
{% endfor %}
</table>
<!-- <div id="chart_month" style="height:300px; width:600px;"></div> -->
{% else %}
<p>no data.</p>
{% endif %}

<h3>Date Summary</h3>
{% if datelist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>date</th>
  <th>project</th>
  <th>task time</th>
 </tr>
{% for data in datelist %}
 <tr>
  <td>{{ data.taskdate|date:"Y-m-d" }}</td>
  <td>{{ data.project__name }}</td>
  <td class="num">{{ data.date_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Task Detail</h3>
{% if is_show_taskdetail %}
{% if tasklist %}
<table class="usedtasktime" border="1">
 <tr>
  <th>date</th>
  <th>project</th>
  <th>job</th>
  <th>task</th>
  <th>task time</th>
 </tr>
{% for data in tasklist %}
 <tr>
  <td>{{ data.taskdate|date:"Y-m-d" }}</td>
  <td>{{ data.project.name }}</td>
  <td>{{ data.task.job.name }}</td>
  <td>{{ data.task.name }}</td>
  <td class="num">{{ data.tasktime|time:"H:i" }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}
{% else %}
<p>no show.</p>
{% endif %}

{# create graph #}
{% if p_monthlist %}
<script type="text/javascript">
$(document).ready(function(){
$.jqplot.config.enablePlugins = true;

var plots = [];

{% for data in p_monthlist %}
plots.push(["{{ data.year }}" + "-" + "{{ data.month|stringformat:"02d" }}", {{ data.month_tasktime_float }}]);
{% endfor %}

plot1 = $.jqplot('chart_month', [plots], {
  title: "Month Summary Graph",
  axes: {
    xaxis: {
      renderer: $.jqplot.DateAxisRenderer,
      label: "month",
      tickInterval: "1 months",
      tickOptions:{ formatString: "'%y\n-%m" },
      rendererOptions: {},
      min: "{{ from_date|date:"Y-m-d" }}",
      max: "{{ to_date|date:"Y-m-d" }}",
    },
    yaxis: {
      label: "hours"
    }
  },
});
});
</script>
{% endif %}

{% endblock %}
