{% extends "base.html" %}

{% block title %}TOP{% endblock %}

{% block boxsubnavi %}
  {% include "summary/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>Choice Summary Rule (user)</h3>
<form action="#" method="POST">
{% csrf_token %}
{{ form.as_p }}
<br>
<input type="submit" value="Submit">
</form>
<hr>

<h3>Project Summary</h3>
{% if userdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>job</th>
  <th>user</th>
  <th>task time</th>
 </tr>
{% for r in userdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Task Summary</h3>
{% if taskdata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>project</th>
  <th>job</th>
  <th>task</th>
  <th>user</th>
  <th>task time</th>
 </tr>
{% for r in taskdata %}
 <tr>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Date Summray</h3>
{% if datesummarydata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>date</th>
  <th>user</th>
  <th>task time</th>
 </tr>
{% for r in datesummarydata %}
 <tr>
  <td>{{ r.taskdate|date:"Y-m-d" }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.total_tasktime }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}

<h3>Task Detail</h3>
{% if datedetaildata %}
<table class="usedtasktime" border="1">
 <tr>
  <th>date</th>
  <th>project</th>
  <th>job</th>
  <th>task</th>
  <th>user</th>
  <th>task time</th>
 </tr>
{% for r in datedetaildata %}
 <tr>
  <td>{{ r.taskdate|date:"Y-m-d" }}</td>
  <td>{{ r.project__name }}</td>
  <td>{{ r.task__job__name }}</td>
  <td>{{ r.task__name }}</td>
  {% if is_lastname_front %}
  <td>{{ r.user__last_name }} {{ r.user__first_name }}</td>
  {% else %}
  <td>{{ r.user__first_name }} {{ r.user__last_name }}</td>
  {% endif %}
  <td class="num">{{ r.tasktime|time:"H:i" }}</td>
 </tr>
{% endfor %}
</table>
{% else %}
<p>no data.</p>
{% endif %}
{% endblock %}
