{% load static %}{% load i18n %}

<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <title>{% block title %}{% endblock %} | {% trans "Active Task Summary" %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'ats/css/atsstyle.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'ats/css/jquery.jqplot.min.css' %}">
</head>
<body>
<script type="text/javascript" src="{% static 'ats/js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ats/js/jquery.jqplot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ats/js/jqplot-plugins/jqplot.dateAxisRenderer.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static 'ats/js/excanvas.js' %}"></script>
<![endif]-->
<script type="text/javascript" src="{% static 'ats/js/ats.js' %}"></script>

<div class="all">
<div class="boxheader">
<div class="boxkeyvisual">
  <a href="{% url 'ats:top' %}">{% trans "Active Task Summary" %}</a>
</div>
<div class="boxnotice">
{% if user.is_authenticated %}
  {% if is_lastname_front %}
<p class="userstatus">{% trans "login as" %} : {{ user }} ({{ user.last_name }} {{ user.first_name }}) : <a href="{% url 'ats:logout_view' %}">{% trans "logout" %}</a></p>
  {% else %}
<p class="userstatus">{% trans "login as" %} : {{ user }} ({{ user.first_name }} {{ user.last_name }}) : <a href="{% url 'ats:logout_view' %}">{% trans "logout" %}</a></p>
  {% endif %}
{% endif %}
</div>
</div>
<hr>
<div class="boxgnavi">
</div>
<div class="boxsubnavi">
  {% if user.is_authenticated %}
  <ul id="subnavilist">
    <li><u><a href="{% url 'ats:top' %}">{% trans "Top" %}</a></u></li>
    <li><u><a href="{% url 'ats:regist' %}">{% trans "Regist" %}</a></u></li>
    <li>{% trans "Summary" %}</li>
    <ul>
      <li><u><a href="{% url 'ats:summary_p' %}">{% trans "project" %}</a></u></li>
      <li><u><a href="{% url 'ats:summary_j' %}">{% trans "job" %}</a></u></li>
      <li><u><a href="{% url 'ats:summary_u' %}">{% trans "user" %}</a></u></li>
    </ul>
    <li><u><a href="{% url 'ats:manage' %}">{% trans "Manage" %}</a></u></li>
  </ul>
  {% endif %}
</div>
<div class="boxmain">
  {% block boxmain %}
  {% endblock %}
</div>
<div class="boxfooter">
  <hr>
  &copy; 2014-2023 {{ app_info.auther }}. ver {{ app_info.version }}. Powered by <a href="https://www.djangoproject.com/">Django</a>. Get started <a href="https://github.com/dictoss/active-task-summary/">github.com</a>
</div>
</div>
</body>
</html>
