{% extends "ats/base.html" %}

{% block title %}select regist date{% endblock %}

{% block boxsubnavi %}
  {% include "regist/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>Choice data input date</h3>
<form name="dateselect" action="#" method="GET">
{{ form.as_p }}
<br>
<input type="submit" value="dateselect">
<br><br>
{% if existdatalist %}
<table class="usedtasktime" border="1">
<caption>exist data this day (total : {{ oneday_total_hour }} hour {{ oneday_total_min }} min)</caption>
<tr>
<th>task time</th><th>project</th><th>job</th><th>task</th>
</tr>
{% for d in existdatalist %}
<tr>
<td>{{ d.tasktime_hour }} hour {{ d.tasktime_min }} min</td>
<td>{{ d.projectname }}</td>
<td>{{ d.jobname }}</td>
<td>{{ d.taskname }}</td>
</tr>
{% endfor %}
</table>
{% else%}
empty data this day.
{% endif %}
</form>
<hr>

{% if datalist %}
<h3>date : {{ regist_date|date:"Y-m-d" }}</h3>
<u>please input tasktime.</u>
<br>
<br>
<form name="regist" action="#" method="POST" onsubmit="defence_double_post('#submit_regist', 500);">
{{ regist_form.as_p }}
{% csrf_token %}
{% for proj in datalist %}
<table class="usedtasktime" border="1">
<tr>
<th></th><th>task time</th><th>project</th><th>job</th><th>task</th>
</tr>
{% for t in proj.usedtasktimelist %}
<tr>
<td><input type="hidden" name="uttid" value="p{{ proj.project_id }}_t{{ t.task_id }}"><input type="checkbox" name="registcheck" value="p{{ proj.project_id }}_t{{ t.task_id }}"></td>
<td><select name="tasktime_hour" onchange="enable_regist_checkbox('p{{ proj.project_id }}_t{{ t.task_id }}')">{% for hour in hourlist %}{% if hour == t.tasktime_hour %}<option value="{{ hour }}" selected>{{ hour }}</option>{% else %}<option value="{{ hour }}">{{ hour }}</option>{% endif %}{% endfor %}</select> hour <select name="tasktime_min" onchange="enable_regist_checkbox('p{{ proj.project_id }}_t{{ t.task_id }}')">{% for min in minutelist %}{% if min == t.tasktime_min %}<option value="{{ min }}" selected>{{ min }}</option>{% else %}<option value="{{ min }}">{{ min }}</option>{% endif %}{% endfor %}</select> min </td>
<td>{{ proj.project_name }}</td><td>{{ t.job_name }}</td><td>{{ t.task_name }}</td>
</tr>
{% endfor %}
</table>
<br>
{% endfor %}
{% else %}
<p>no data.</p>
{% endif %}
<input type="submit" value="regist">
</form>
{% endblock %}
