{% extends "ats/base.html" %}{% load i18n %}

{% block title %}{% trans "Regist" %}{% endblock %}

{% block boxsubnavi %}
  {% include "regist/subnavi_index.html" %}
{% endblock %}

{% block boxmain %}
<h3>{% trans "Select a date for data entry." %}</h3>
<form name="dateselect" action="#" method="GET">
{{ form.as_p }}
<br>
<input type="submit" value="{% trans "dateselect" %}">
<br><br>
{% if existdatalist %}
<table class="usedtasktime" border="1">
<caption>{% trans "registered data the day" %} ({% trans "total" %} : {{ oneday_total_hour }} {% trans "hour" %} {{ oneday_total_min }} {% trans "min" %})</caption>
<tr>
<th>{% trans "task time" %}</th><th>{% trans "project" %}</th><th>{% trans "job" %}</th><th>{% trans "task" %}</th><th>{% trans "comment" %}</th>
</tr>
{% for d in existdatalist %}
<tr>
<td>{{ d.tasktime_hour }} {% trans "hour" %} {{ d.tasktime_min }} {% trans "min" %}</td>
<td>{{ d.projectname }}</td>
<td>{{ d.jobname }}</td>
<td>{{ d.taskname }}</td>
<td>{{ d.comment }}</td>
</tr>
{% endfor %}
</table>
{% else%}
{% trans "no data the day." %}
{% endif %}
</form>
<hr>

{% if datalist %}
<h3>{% trans "target date" %} : {{ regist_date|date:"Y-m-d" }}</h3>
<u>{% trans "please input tasktime." %}</u>
<br>
<br>
<form name="regist" action="#" method="POST" onsubmit="defence_double_post('#submit_regist', 500);">
{{ regist_form.as_p }}
{% csrf_token %}
{% for proj in datalist %}
<table class="usedtasktime" border="1">
<tr>
<th></th><th>{% trans "task time" %}</th><th>{% trans "project" %}</th><th>{% trans "job" %}</th><th>{% trans "task" %}</th><th>{% trans "comment" %}</th>
</tr>
{% for t in proj.usedtasktimelist %}
<tr>
<td><input type="hidden" name="uttid" value="p{{ proj.project_id }}_t{{ t.task_id }}"><input type="checkbox" id="id_chk_p{{ proj.project_id }}_t{{ t.task_id }}" name="registcheck" value="p{{ proj.project_id }}_t{{ t.task_id }}"></td>
<td><select name="tasktime_hour" onchange="enable_regist_checkbox('p{{ proj.project_id }}_t{{ t.task_id }}')">{% for hour in hourlist %}{% if hour == t.tasktime_hour %}<option value="{{ hour }}" selected>{{ hour }}</option>{% else %}<option value="{{ hour }}">{{ hour }}</option>{% endif %}{% endfor %}</select> {% trans "hour" %} <select name="tasktime_min" onchange="enable_regist_checkbox('p{{ proj.project_id }}_t{{ t.task_id }}')">{% for min in minutelist %}{% if min == t.tasktime_min %}<option value="{{ min }}" selected>{{ min }}</option>{% else %}<option value="{{ min }}">{{ min }}</option>{% endif %}{% endfor %}</select> {% trans "min" %} </td>
<td>{{ proj.project_name }}</td><td>{{ t.job_name }}</td><td>{{ t.task_name }}</td>
<td><input type="text" name="comment" value="{{ t.comment }}" size="50" maxlength="255" placeholder="{% trans "more comment." %}" onkeyup="enable_regist_checkbox('p{{ proj.project_id }}_t{{ t.task_id }}')"></td>
</tr>
{% endfor %}
</table>
<br>
{% endfor %}
{% else %}
<p>{% trans "no data." %}</p>
{% endif %}
<input type="submit" value="{% trans "regist" %}">
</form>
{% endblock %}
